// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

<<<<<<< HEAD
$navbar-inverse-bg: rgb(133, 18, 38);
$navbar-inverse-color: white;
$navbar-inverse-link-color: white;
$navbar-border-radius: 0;
@import 'bootstrap';
=======
@import "bootstrap";
>>>>>>> 82d2e83d29edd60fedef7aaf830c1be9fb6d5385
